* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "VT323";
  font-size: 20px;
  color: rgba(40, 22, 17);
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-image: url("https://i.pinimg.com/originals/54/f8/13/54f81331a9da88c623b96363fb0a4da1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
